{% extends '__base.html' %}

{% load cms_tags menu_tags thumbnail %}

{% block content %}
    <h1>{% page_attribute "page_title" %}</h1>

    {% show_breadcrumb 0 "menu/breadcrumb.html" %}

    <div class="direction-list">
        <ul>
            {% for i in items %}
            <li class="{% cycle 'left' 'right' %}">
                <div class="img">
                    <a href="{{ i.get_absolute_url }}">
                        <img src="{% thumbnail i.img 167x167 crop %}">
                    </a>
                </div>
                <div class="text">
                    <h3><a href="{{ i.get_absolute_url }}">{{ i.title }}</a></h3>

                    {{ i.description|linebreaksbr }}
                </div>
                <br class="clear">
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}