<!DOCTYPE html>
<html>
<head>
    <title>{% block page_title %}Главная страница{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" -->

    {# откомпиленый LESS  #}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" media="screen">
</head>
<body class="">

    {% block popover %}{% endblock %}

    {% block head %}
    <div class="head">
        <div class="container">
            <div class="row border-padding">
                <div class="col-xs-2">
                    <a href="#" class="logo">
                        <img src="{{ STATIC_URL }}img/logo.png">
                    </a>
                </div>
                <div class="col-xs-10">
                    <div class="site-title">
                        Научно-инжиниринговый центр архитектуры<br>
                        и строительства
                    </div>
                    <div class="phones">
                        <span>+7 (343) 374-48-50</span>
                        <span>8-800-100-48-50</span>
                    </div>

                    <div class="menu">
                        <ul>
                            <li class="active has_inner"><a href="#">О компании</a>
                                <ul>
                                    <li class="active"><a href="#">НИАС-Центр</a></li>
                                    <li><a href="#">Отзывы</a></li>
                                    <li><a href="#">Статьи</a></li>
                                    <li><a href="#">Сертификаты и лицензии</a></li>
                                    <li><a href="#">Новости</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Проекты</a></li>
                            <li><a href="#">Направления деятельности</a></li>
                            <li><a href="#">Контакты</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block container %}
    <div class="container">
        <div class="row border-padding">
            <div class="col-xs-12">
                <div class="content">
                    {% block content %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    {% endblock %}


    {% block bottom %}
    <div class="bottom">
        <div class="container">
            <div class="row border-padding">
                <div class="col-xs-4">
                    <div class="copy">
                        <span class="sign">©</span> Научно-инжиниринговый центр архитектуры и строительства, 2014
                    </div>
                </div>
                <div class="col-xs-4">
                    <p>620137, Екатеринбург, а/я 330,<br> ул.Блюхера, 26</p>
                    <p>тел.: +7 (343) 374-48-50<br> факс: +7 (343) 374-44-63</p>
                    <p>Отдел Маркетинга и продаж:<br> +7 (343) 365-47-18</p>
                    <p><a href="#">info@uralnias.ru</a></p>
                </div>
                <div class="col-xs-4">
                    <div class="bottom-menu">
                        <ul>
                            <li><a href="#">Проекты</a></li>
                            <li><a href="#">Направления деятельности</a></li>
                            <li><a href="#">Новости</a></li>
                            <li><a href="#">О компании</a></li>
                            <li><a href="#">Отраслевые решения</a></li>
                            <li><a href="#">Контактная информация</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    <script src="{{ STATIC_URL }}bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.clipboard.js"></script>
    <script src="{{ STATIC_URL }}js/project.js"></script>

    {% block script %}{% endblock %}
</body>
</html>