{% extends '__base.html' %}

{% block content %}
    <h1>Статьи</h1>

    <div class="breadcrumbs">
        <ul>
            <li><a href="#">Главная</a></li>
            <li><a href="#">Проекты</a></li>
        </ul>
    </div>
    <br class="clear">

    <div class="certs_list">
        <ul>
            <li>
                <a href="#">
                    <div class="img"><img src="{{ STATIC_URL }}img/data/cert-1.png"></div>
                    <span>Сертификат НИИ УПАТ РФ</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="img"><img src="{{ STATIC_URL }}img/data/cert-2.png"></div>
                    <span>Сертификат НИИ УПАТ РФ</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="img"><img src="{{ STATIC_URL }}img/data/cert-3.png"></div>
                    <span>Сертификат НИИ УПАТ РФ</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="img"><img src="{{ STATIC_URL }}img/data/cert-4.png"></div>
                    <span>Сертификат НИИ УПАТ РФ</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="img"><img src="{{ STATIC_URL }}img/data/cert-5.png"></div>
                    <span>Сертификат НИИ УПАТ РФ</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="img"><img src="{{ STATIC_URL }}img/data/cert-6.png"></div>
                    <span>Сертификат НИИ УПАТ РФ</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="img"><img src="{{ STATIC_URL }}img/data/cert-7.png"></div>
                    <span>Сертификат НИИ УПАТ РФ</span>
                </a>
            </li>
        </ul>
    </div>
    <br class="clear">
{% endblock %}