{% extends '__base.html' %}

{% block popover %}

    <div class="overlay">
        <div class="modal">
            <div class="close"><a href="#"></a></div>

            <div class="modal-inner">
                <div class="title">
                    <h2>Сообщение успешно отправлено</h2>
                </div>
                <div class="data">
                    Тут текст всплывающего окошка
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block container %}
<div class="container">
    <div class="row border-padding">
        <div class="col-xs-12">
            <div class="content">

                <h1>Контакты</h1>

                <div class="breadcrumbs">
                    <ul>
                        <li><a href="#">Главная</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="contacts-block">
    <div class="container">
        <div class="row border-padding">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="index-description-block">
                            <h4 class="index-h4">Адрес</h4>
                            <p>620137 Екатеринбург, ая 330, ул. Блюхера, 26</p>

                            <h4 class="index-h4">Телефон</h4>
                            <p>
                                Тел.: +7 (343) 374-48-50<br>
                                Факс: +7 (343) 374-44-63
                            </p>

                            <h4 class="index-h4">Время работы</h4>
                            <p>
                                8:30-17:40 (Пятница: до 15:35), <br>обед: 12:30-13:15
                            </p>

                        </div>
                    </div>
                    <div class="col-xs-8">
                        <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
                        <script type="text/javascript" charset="utf-8">
                        ymaps.ready(function () {
                            var myMap = new ymaps.Map('map', {
                                    center: [56.85435477, 60.64930750],
                                    zoom: 17
                                }),
                                myPlacemark = new ymaps.Placemark(myMap.getCenter(), {
                                    hintContent: 'Научно-инжиниринговый центр архитектуры и строительства'
                                }, {
                                    // Опции.
                                    // Необходимо указать данный тип макета.
                                    iconLayout: 'default#image',
                                    // Своё изображение иконки метки.
                                    iconImageHref: '{{ STATIC_URL }}img/map-marker.png',
                                    // Размеры метки.
                                    iconImageSize: [57, 72],
                                    // Смещение левого верхнего угла иконки относительно
                                    // её "ножки" (точки привязки).
                                    iconImageOffset: [-3, -42]
                                });

                            myMap.geoObjects.add(myPlacemark);
                        });
                        </script>
                        <div id="map" style="width: 100%; height: 350px"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row border-padding">
        <div class="col-xs-12">
            <div class="content">

                    <div class="row">
                        <div class="col-xs-6">
                            <h2>Реквизиты</h2>

                            <div id="contacts-data">
                                <p>Юридический адрес: 620137, Российская Федерация, Свердловская область, г.Екатеринбург, ул. Блюхера, 26</p>
                                <p>
                                    Генеральный директор: Дубинский Александр Вячеславович<br>
                                    ОГРН: 1026604937138<br>
                                    ИНН: 6660004958<br>
                                    КПП: 667001001<br>
                                    Расчетный счет: 40702810700160000190
                                </p>
                                <p>
                                    Наименование банка: "Екатеринбургский" филиал ОАО Банк Зенит <br>
                                    БИК: 046551943
                                </p>
                            </div>

                            <button class="btn btn-default" id="copyToClipboard" data-target="contacts-data">Скопировать</button>
                        </div>
                        <div class="col-xs-6">
                            <h2>Обратная связь</h2>

                            <form>
                              <div class="form-group">
                                <label for="input-name">Ваше имя</label>
                                <input type="text" class="form-control" id="input-name" placeholder="" value="Иван Ребиков">
                              </div>
                              <div class="form-group has-error">
                                <label for="input-phone">Телефон</label>
                                <input type="phone" class="form-control" id="input-phone" placeholder="" value="">
                              </div>
                              <div class="form-group">
                                <label for="input-email">E-mail</label>
                                <input type="email" class="form-control" id="input-email" placeholder="" value="">
                              </div>
                              <div class="form-group">
                                <label for="exampleInputEmail1">Сообщение</label>
                                <textarea class="form-control" rows="3"></textarea>
                              </div>
                              <button type="submit" class="btn btn-default">Отправить</button>
                            </form>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
   <script type="text/javascript">
   $(document).ready(function(){
       $('form').submit(function(){
            showModal();
           return false;
       })
   })
   </script>
{% endblock %}