{% extends '__base.html' %}

{% block popover %}

    <div class="overlay" style="display: block;">
        <div class="modal">
            <div class="close"><a href="#"></a></div>

            <div class="modal-inner">

                <div class="breadcrumbs">
                    <ul>
                        <li><a href="#">Главная</a></li>
                        <li><a href="#">О компании</a></li>
                        <li><a href="#">Новости</a></li>
                        <li><a href="#">↓</a></li>
                    </ul>
                </div>

                <div class="title">
                    <h2>С 26 по 29 мая в Перми состоялась Всероссийская конференция с международным участием: «Фундаменты глубокого заложения и проблема освоения подземного пространства»</h2>
                    <span>09.06.2014</span>
                </div>
                <div class="data">

                </div>
                <div class="reference">
                    <div class="row">
                        <div class="col-xs-6">
                            <span class="date">16.07.2014</span>
                            <div class="title"><a href="#">Состоялось очередное заседание Совета директоров ОАО институт "УралНИИАС"</a></div>
                        </div>
                        <div class="col-xs-6">
                            <span class="date">16.07.2014</span>
                            <div class="title"><a href="#">Состоялось очередное заседание Совета директоров ОАО институт "УралНИИАС"</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block content %}
    <h1>Статьи</h1>

    <div class="breadcrumbs">
        <ul>
            <li><a href="#">Главная</a></li>
            <li><a href="#">О компании</a></li>
            <li><a href="#">Статьи</a></li>
        </ul>
    </div>
    <div class="art_list">
        <ul>
            <li class="meta_normal">
                <div class="art_list-meta">16.07.2014</div>
                <div class="art_list-content"><a href="#">Состоялось очередное заседание Совета директоров ОАО институт "УралНИИАС"</a></div>
            </li>
            <li class="meta_normal">
                <div class="art_list-meta">16.07.2014</div>
                <div class="art_list-content"><a href="#">ОАО институт «УралНИИАС» продолжает заниматься разработкой рабочей документации и ведением авторского надзора по объекту: «Завод по производству соединительных деталей трубопроводов в г. Чайковский Пермского края»</a></div>
            </li>
            <li class="meta_normal">
                <div class="art_list-meta">16.07.2014</div>
                <div class="art_list-content"><a href="#">Главный конструктор ОАО институт «УралНИИАС» В.Е. Маргулян награжден Знаком отличия за заслуги перед Свердловской областью</a></div>
            </li>
            <li class="meta_normal">
                <div class="art_list-meta">16.07.2014</div>
                <div class="art_list-content"><a href="#">ОАО институт "УралНИИАС" Поздравляет с Днем России!</a></div>
            </li>
            <li class="meta_normal">
                <div class="art_list-meta">16.07.2014</div>
                <div class="art_list-content"><a href="#">Состоялось очередное заседание Совета директоров ОАО институт "УралНИИАС"</a></div>
            </li>
            <li class="meta_normal">
                <div class="art_list-meta">16.07.2014</div>
                <div class="art_list-content"><a href="#">Главный конструктор ОАО институт «УралНИИАС» В.Е. Маргулян награжден Знаком отличия за заслуги перед Свердловской областью</a></div>
            </li>
        </ul>
    </div>

    <div class="paging for-news">
        <ul>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#">7</a></li>
            <li><a href="#">...</a></li>
            <li><a href="#">20</a></li>
        </ul>
    </div>
{% endblock %}