{% load grouper thumbnail %}

<div class="container-fuild">
    {% for i in items|grouper:4 %}
    <div class="row">
        {% for o in i %}
        <div class="col-xs-3">
            <div class="direction-item" data-content="{% if o.description %}{{ o.description }}{% else %}{{ o.title }}{% endif %}">
                <a href="{{ o.get_absolute_url }}"><img src="{% thumbnail o.img 167x167 crop %}"></a>
                <a href="{{ o.get_absolute_url }}" class="text">{{ o.title }}</a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>