<div class="content-inner-list">
    <ul>
        {% for i in items %}
        <li>
            <div>{{ i.created|date:'d F Y' }}</div>
            <a href="{{ i.get_absolute_url }}" class="ajax-news-item">{{ i.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>