{% load grouper thumbnail %}

<div class="container-fuild">
    {% for i in items|grouper:2 %}
    <div class="row">
        {% for o in i %}
        <div class="col-xs-6">
            <div class="solution-item">
                <a href="{{ o.get_absolute_url }}">
                    <img src="{% thumbnail o.img 433x260 crop %}">
                    <div class="plate">
                        <div class="title">{{ o.title }}</div>
                        <div class="description">{{ o.description }}</div>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>