{% extends '__base.html' %}

{% load cms_tags menu_tags thumbnail %}

{% block content %}
    <h1>{% page_attribute "page_title" %}</h1>

    {% show_breadcrumb 0 "menu/breadcrumb.html" %}
    <br class="clear">

    <div class="feedback_list">
        <ul>
            {% for i in items %}
            <li>
                <div class="feedback_list-item">
                    <h2>{{ i.title }}</h2>
                    <div>
                        <img src="{{ STATIC_URL }}img/data/feedback_logo-1.png">
                    </div>

                    {{ i.description|safe }}

                    <strong class="pull-right">{{ i.copyright }}</strong>
                    <br class="clear">
                    <br>

                    {% if i.file %}
                    <div class="file">
                        <a href="{{ i.file.url }}">{{ i.file.original_filename }}</a><br>
                        <span>(*.{{ i.file.extension }})</span>
                    </div>
                    {% endif %}

                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}