{% load cms_tags sekizai_tags menu_tags %}

<!DOCTYPE html>
<html>
<head>
    <title>{% if not meta_title %}{% page_attribute "page_title" %}{% else %}{{ meta_title }}{% endif %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="description" content="{% if not meta_description %}{% page_attribute "meta_description" %}{% else %}{{ meta_description }}{% endif %}" />

    <!-- meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" -->

    {# откомпиленый LESS  #}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" media="screen">
    {% render_block "css" %}
</head>
<body class="">
    {% cms_toolbar %}

    {% block popover %}{% endblock %}

    {% block head %}
    <div class="head">
        <div class="container">
            <div class="row border-padding">
                <div class="col-xs-2">
                    <a href="/" class="logo">
                        <img src="{{ STATIC_URL }}img/logo.png">
                    </a>
                </div>
                <div class="col-xs-10">
                    <div class="site-title">
                        Научно-инжиниринговый центр архитектуры<br>
                        и строительства
                    </div>
                    <div class="phones">
                        {% static_placeholder 'top_phones' %}
                    </div>

                    <div class="menu">
                        <ul>
                            {% block menu %}
                            {% show_menu 0 100 0 100 "menu/menu.html" %}
                            {% endblock %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block container %}
    <div class="container">
        <div class="row border-padding">
            <div class="col-xs-12">
                <div class="content">
                    {% block content %}
                        {% placeholder base_content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    {% endblock %}


    {% block bottom %}
    <div class="bottom">
        <div class="container">
            <div class="row border-padding">
                <div class="col-xs-4">
                    <div class="copy">
                        <span class="sign">©</span> Научно-инжиниринговый центр архитектуры и строительства, 2014
                    </div>
                </div>
                <div class="col-xs-4">
                    {% static_placeholder 'bottom_contact' %}
                </div>
                <div class="col-xs-4">
                    <div class="bottom-menu">
                        <ul>
                            {% show_menu 0 0 0 100 "menu/menu.html" %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    <script src="{{ STATIC_URL }}bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.clipboard.js"></script>
    <script src="{{ STATIC_URL }}js/project.js"></script>

    {% block script %}{% endblock %}
    {% render_block "js" %}
</body>
</html>